{% extends 'base.html.twig' %}

{% block title %}Hike index{% endblock %}

{% block body %}
    <h1>Hike index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Difficultée</th>
                <th>Distance</th>
                <th>Durée</th>
                <th>Dénivelée positif</th>
                <th>Dénivelée négatif</th>
                <th>Coordonnées GPS</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hike in hikes %}
            <tr>
                <td>{{ hike.name }}</td>
                <td>{{ hike.Content }}</td>
                <td>
                    {% if hike.difficulty.level is defined %}
                        {{ hike.difficulty.level }}
                    {% endif %}
                </td>
                <td>{{ hike.length }}</td>
                <td>{{ hike.duration }}</td>
                <td>{{ hike.elevationGain }}</td>
                <td>{{ hike.elevationLoss }}</td>
                <td>{{ hike.gpsCoordonate }}</td>
                <td>

                    <a href="{{ path('app_hike_edit', {'id': hike.id}) }}">Edition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hike_new') }}">Ajout</a>
{% endblock %}
